
@{
    
}

<link href="/Content/Livelihood/css/services.css" rel="stylesheet" type="text/css" media="all" />

<div class="main">
    <div style="width:1000px;height:327px; margin:20px 80px 20px 166px;  background:#FFF; box-shadow: 0 1px 5px rgba(0,0,0,0.2);">
        <p class="navbox" style="padding-top:10px; padding-bottom:10px;padding-left:5px; color:#000000;">您的当前位置：<a href="#" style="height:65px;color:#02b2b5;">便民服务</a></p>
        <div style="width: 48px;height:286px;float: left;">
            <div class="block1On" id="block1"><div style=" padding-left:12px; padding-top:25px; width:18px; font-size:14px; font-weight:bold; color:#fff; line-height:24px;"><span>个人办事</span></div></div>
            <div class="block2" id="block2"><div style=" padding-left:12px; padding-top:25px; width:18px; font-size:14px; font-weight:bold; color:#fff; line-height:24px;"><span>法人办事</span></div></div>
        </div>
        <div class="list" id="list1" style="display: block;">
            <div style=" width:468px; height:286px; float:left">
                <div style=" margin-left:20px; float:left; width:85px; height:65px; background:url(/Content/Livelihood/images/azt_bg.png) no-repeat">
                <div style=" color:#FFF; margin-top:22px; margin-left:15px"><div><span style=" margin-left:5px; line-height:24px">按主题</span></div></div>
            </div>
            <div class="qieh">
                <div class="zjqz_w">
                    <div id="zjqz_cont_0" class="tabconbox" style="display: block;">
                        <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=01yc" class="bt_link" title="职业资格" target="_blank">职业资格</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=02yc" class="bt_link" title="证件办理" target="_blank">证件办理</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=03yc" class="bt_link" title="就业创业" target="_blank">就业创业</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=04yc" class="bt_link" title="户籍人口" target="_blank">户籍人口</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=05yc" class="bt_link" title="出入境" target="_blank">出入境</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=01" class="bt_link" title="教育" target="_blank">教育</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=02" class="bt_link" title="医疗卫生" target="_blank">医疗卫生</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=03" class="bt_link" title="婚育收养" target="_blank">婚育收养</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=04" class="bt_link" title="文化体育" target="_blank">文化体育</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=05" class="bt_link" title="新闻广电出版" target="_blank">新闻广电出版</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=06" class="bt_link" title="科技创新" target="_blank">科技创新</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=09" class="bt_link" title="福利救助" target="_blank">福利救助</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=10" class="bt_link" title="兵役退伍" target="_blank">兵役退伍</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=11" class="bt_link" title="死亡殡葬" target="_blank">死亡殡葬</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=12" class="bt_link" title="社会组织" target="_blank">社会组织</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=14" class="bt_link" title="人力资源" target="_blank">人力资源</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=15" class="bt_link" title="社会保障" target="_blank">社会保障</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=17" class="bt_link" title="国土资源" target="_blank">国土资源</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=18" class="bt_link" title="住房建设" target="_blank">住房建设</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=19" class="bt_link" title="交通运输" target="_blank">交通运输</a></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="zjqz_cont_1" class="tabconbox" style="display: none;">
                        <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=20" class="bt_link" title="环保气象" target="_blank">环保气象</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=21" class="bt_link" title="工商监管" target="_blank">工商监管</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=22" class="bt_link" title="质量技术监督" target="_blank">质量技术监督</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=23" class="bt_link" title="食品药品监管" target="_blank">食品药品监管</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=24" class="bt_link" title="安全生产" target="_blank">安全生产</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=25" class="bt_link" title="公安消防" target="_blank">公安消防</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=26" class="bt_link" title="司法公证" target="_blank">司法公证</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=27" class="bt_link" title="规划测绘" target="_blank">规划测绘</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=28" class="bt_link" title="经济发展" target="_blank">经济发展</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=29" class="bt_link" title="财政税务" target="_blank">财政税务</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=30" class="bt_link" title="民族宗教" target="_blank">民族宗教</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=32" class="bt_link" title="农林牧水" target="_blank">农林牧水</a></div></td>
                                    </tr>
                                    <tr>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=33" class="bt_link" title="海洋渔业" target="_blank">海洋渔业</a></div></td>
                                        <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?from=them&amp;webid=88&amp;themid=36" class="bt_link" title="其他" target="_blank">其他</a></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <ul class="zjqz_center">
                        <li class="zjqzOn" id="zjqz_tab_0" onmouseover="ShowTag('zjqz','zjqz',0,2,0);"></li>
                        <li class="zjqz" id="zjqz_tab_1" onmouseover="ShowTag('zjqz','zjqz',1,2,0);"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style=" margin-top:40px; float:left; width:1px; height:206px; background:url(/Content/Livelihood/images/xian.png) no-repeat">
    </div>
    <div style=" width:468px; height:286px; float:left">
        <div style=" margin-left:20px; float:left;width:85px; height:65px; background:url(/Content/Livelihood/images/abm_bg.png) no-repeat">
        <div style=" color:#FFF; margin-top:22px; margin-left:15px"><div><span style=" margin-left:5px; line-height:24px">按部门</span></div></div>
    </div>
    <div class="qieh">
        <div class="qwer_w">
            <div id="qwer_cont_0" class="tabconbox" style="display: none;">
                <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005049" class="bt_link" title="市外侨办" target="_blank">市外侨办</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005017" class="bt_link" title="市发改局" target="_blank">市发改局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005018" class="bt_link" title="市经信局" target="_blank">市经信局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005015" class="bt_link" title="市科技局" target="_blank">市科技局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005038" class="bt_link" title="市民宗局" target="_blank">市民宗局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005006" class="bt_link" title="市国土局" target="_blank">市国土局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005032" class="bt_link" title="市农林局" target="_blank">市农林局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005022" class="bt_link" title="市文广新局" target="_blank">市文广新局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005028" class="bt_link" title="市体育局" target="_blank">市体育局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005043" class="bt_link" title="市卫计局" target="_blank">市卫计局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005025" class="bt_link" title="市统计局" target="_blank">市统计局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005002" class="bt_link" title="市海洋与渔业局" target="_blank">市海洋与渔业局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005009" class="bt_link" title="市质监局" target="_blank">市质监局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005021" class="bt_link" title="市旅游局" target="_blank">市旅游局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005041" class="bt_link" title="市安全生产监管局" target="_blank">市安全生产监管局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005072" class="bt_link" title="市残联" target="_blank">市残联</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005023" class="bt_link" title="市气象局" target="_blank">市气象局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005051" class="bt_link" title="市烟草局" target="_blank">市烟草局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005016" class="bt_link" title="市教育局" target="_blank">市教育局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005037" class="bt_link" title="市民政局" target="_blank">市民政局</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="qwer_cont_1" class="tabconbox" style="display: block;">
                <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005013" class="bt_link" title="市财税局" target="_blank">市财税局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005031" class="bt_link" title="市林特局" target="_blank">市林特局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005033" class="bt_link" title="市建设局（市测绘局）" target="_blank">市建设局（市测绘...</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005073" class="bt_link" title="市人社局" target="_blank">市人社局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005077" class="bt_link" title="市档案局" target="_blank">市档案局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005078" class="bt_link" title="市人防办" target="_blank">市人防办</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005039" class="bt_link" title="市商务局" target="_blank">市商务局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005014" class="bt_link" title="市公安局" target="_blank">市公安局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005036" class="bt_link" title="市司法局" target="_blank">市司法局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005034" class="bt_link" title="市交通局" target="_blank">市交通局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005030" class="bt_link" title="市水利局" target="_blank">市水利局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005026" class="bt_link" title="市审计局" target="_blank">市审计局</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005024" class="bt_link" title="市环保局" target="_blank">市环保局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005020" class="bt_link" title="市供电局" target="_blank">市供电局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005042" class="bt_link" title="市行政执法局" target="_blank">市行政执法局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005082" class="bt_link" title="市港航处" target="_blank">市港航处</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005083" class="bt_link" title="市公路局" target="_blank">市公路局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005084" class="bt_link" title="市道路运输管理局" target="_blank">市道路运输管理局</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005085" class="bt_link" title="金融办" target="_blank">金融办</a></div></td>
                                <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/gr_index.do?webId=88&amp;deptid=001008010005089" class="bt_link" title="市市场监督管理局" target="_blank">市市场监督管理局</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ul class="qwer_center">
                <li class="qwer" id="qwer_tab_0" onmouseover="ShowTag('qwer','qwer',0,2,0);"></li>
                <li class="qwerOn" id="qwer_tab_1" onmouseover="ShowTag('qwer','qwer',1,2,0);"></li>
            </ul>
        </div>
    </div>
</div>
      </div>
<div class="list" id="list2" style="display: none;">
    <div style=" width:468px; height:286px; float:left">
        <div style=" margin-left:20px; float:left; width:85px; height:65px; background:url(/Content/Livelihood/images/azt_bg.png) no-repeat">
        <div style=" color:#FFF; margin-top:22px; margin-left:15px"><div><span style=" margin-left:5px; line-height:24px">按主题</span></div></div>
    </div>
    <div class="qieh">
        <div class="asdf_w">
            <div id="asdf_cont_0" class="tabconbox" style="display:block;">
                <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=01yc" class="bt_link" title="设立年检注销" target="_blank">设立年检注销</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=02yc" class="bt_link" title="投资审批" target="_blank">投资审批</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=03yc" class="bt_link" title="资质认证" target="_blank">资质认证</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=04yc" class="bt_link" title="商贸服务" target="_blank">商贸服务</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=01" class="bt_link" title="教育" target="_blank">教育</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=02" class="bt_link" title="医疗卫生" target="_blank">医疗卫生</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=03" class="bt_link" title="婚育收养" target="_blank">婚育收养</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=04" class="bt_link" title="文化体育" target="_blank">文化体育</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=05" class="bt_link" title="新闻广电出版" target="_blank">新闻广电出版</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=06" class="bt_link" title="科技创新" target="_blank">科技创新</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=09" class="bt_link" title="福利救助" target="_blank">福利救助</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=10" class="bt_link" title="兵役退伍" target="_blank">兵役退伍</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=11" class="bt_link" title="死亡殡葬" target="_blank">死亡殡葬</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=12" class="bt_link" title="社会组织" target="_blank">社会组织</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=14" class="bt_link" title="人力资源" target="_blank">人力资源</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=15" class="bt_link" title="社会保障" target="_blank">社会保障</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=17" class="bt_link" title="国土资源" target="_blank">国土资源</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=18" class="bt_link" title="住房建设" target="_blank">住房建设</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=19" class="bt_link" title="交通运输" target="_blank">交通运输</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=20" class="bt_link" title="环保气象" target="_blank">环保气象</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="asdf_cont_1" class="tabconbox" style="display:none;">
                <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=21" class="bt_link" title="工商监管" target="_blank">工商监管</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=22" class="bt_link" title="质量技术监督" target="_blank">质量技术监督</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=23" class="bt_link" title="食品药品监管" target="_blank">食品药品监管</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=24" class="bt_link" title="安全生产" target="_blank">安全生产</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=25" class="bt_link" title="公安消防" target="_blank">公安消防</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=26" class="bt_link" title="司法公正" target="_blank">司法公正</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=27" class="bt_link" title="规划测绘" target="_blank">规划测绘</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=28" class="bt_link" title="经济发展" target="_blank">经济发展</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=29" class="bt_link" title="财政税务" target="_blank">财政税务</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=30" class="bt_link" title="民族宗教" target="_blank">民族宗教</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=32" class="bt_link" title="农林牧水" target="_blank">农林牧水</a></div></td>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=33" class="bt_link" title="海洋渔业" target="_blank">海洋渔业</a></div></td>
                            </tr>
                            <tr>
                                <td style=""><div class="gfds"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?from=them&amp;webid=88&amp;themid=36" class="bt_link" title="其他" target="_blank">其他</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ul class="asdf_center">
                <li class="asdfOn" id="asdf_tab_0" onmouseover="ShowTag('asdf','asdf',0,2,0);"></li>
                <li class="asdf" id="asdf_tab_1" onmouseover="ShowTag('asdf','asdf',1,2,0);"></li>
            </ul>
        </div>
    </div>
</div>
<div style=" margin-top:40px; float:left; width:1px; height:206px; background:url(/Content/Livelihood/images/xian.png) no-repeat"></div>
<div style=" width:468px; height:286px; float:left">
    <div style=" margin-left:20px; float:left;width:85px; height:65px; background:url(/Content/Livelihood/images/abm_bg.png) no-repeat">
    <div style=" color:#FFF; margin-top:22px; margin-left:15px"><div><span style=" margin-left:5px; line-height:24px">按部门</span></div></div>
</div>
<div class="qieh">
    <div class="zxcv_w">
        <div id="zxcv_cont_0" class="tabconbox" style="display:block;">
            <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005017" class="bt_link" title="市发改局" target="_blank">市发改局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005018" class="bt_link" title="市经信局" target="_blank">市经信局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005015" class="bt_link" title="市科技局" target="_blank">市科技局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005038" class="bt_link" title="市民宗局" target="_blank">市民宗局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005006" class="bt_link" title="市国土局" target="_blank">市国土局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005032" class="bt_link" title="市农林局" target="_blank">市农林局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005022" class="bt_link" title="市文广新局" target="_blank">市文广新局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005028" class="bt_link" title="市体育局" target="_blank">市体育局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005043" class="bt_link" title="市卫计局" target="_blank">市卫计局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005025" class="bt_link" title="市统计局" target="_blank">市统计局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005002" class="bt_link" title="市海洋与渔业局" target="_blank">市海洋与渔业局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005009" class="bt_link" title="市质监局" target="_blank">市质监局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005021" class="bt_link" title="市旅游局" target="_blank">市旅游局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005041" class="bt_link" title="市安全生产监管局" target="_blank">市安全生产监管局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005072" class="bt_link" title="市残联" target="_blank">市残联</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005023" class="bt_link" title="市气象局" target="_blank">市气象局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005016" class="bt_link" title="市教育局" target="_blank">市教育局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005037" class="bt_link" title="市民政局" target="_blank">市民政局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005013" class="bt_link" title="市财税局" target="_blank">市财税局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005031" class="bt_link" title="市林特局" target="_blank">市林特局</a></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="zxcv_cont_1" class="tabconbox" style="display:none;">
            <script>$(function(){ $('*',$('form.comment')).attr('disabled', 'disabled');}); </script><div style="margin-left:15px;">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005033" class="bt_link" title="市建设局(市测绘局)" target="_blank">市建设局(市测绘...</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005073" class="bt_link" title="市人社局" target="_blank">市人社局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005077" class="bt_link" title="市档案局" target="_blank">市档案局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005078" class="bt_link" title="市人防办" target="_blank">市人防办</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005039" class="bt_link" title="市商务局" target="_blank">市商务局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005081" class="bt_link" title="市编委办" target="_blank">市编委办</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005014" class="bt_link" title="市公安局" target="_blank">市公安局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005036" class="bt_link" title="市司法局" target="_blank">市司法局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005034" class="bt_link" title="市交通局" target="_blank">市交通局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005030" class="bt_link" title="市水利局" target="_blank">市水利局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005026" class="bt_link" title="市审计局" target="_blank">市审计局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005024" class="bt_link" title="市环保局" target="_blank">市环保局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005020" class="bt_link" title="市供电局" target="_blank">市供电局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005042" class="bt_link" title="市行政执法局" target="_blank">市行政执法局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005082" class="bt_link" title="市港航处" target="_blank">市港航处</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005083" class="bt_link" title="市公路局" target="_blank">市公路局</a></div></td>
                        </tr>
                        <tr>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005084" class="bt_link" title="市道路运输管理局" target="_blank">市道路运输管理局</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005085" class="bt_link" title="金融办" target="_blank">金融办</a></div></td>
                            <td style=""><div class="gfds2"><a href="http://www.zjzwfw.gov.cn/zjzw/item/list/fr_index.do?webId=88&amp;deptid=001008010005089" class="bt_link" title="市市场监督管理局" target="_blank">市市场监督管理局</a></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="zxcv_center">
            <li class="zxcvOn" id="zxcv_tab_0" onmouseover="ShowTag('zxcv','zxcv',0,2,0);"></li>
            <li class="zxcv" id="zxcv_tab_1" onmouseover="ShowTag('zxcv','zxcv',1,2,0);"></li>
        </ul>
    </div>
</div>
      </div>
    </div>
  </div>
</div>
<div class="main_foot">
    <div style="width:1000px;margin:20px 80px 20px 166px;  min-height:315px;   background:#FFF; margin-top:20px; box-shadow: 0 1px 5px rgba(0,0,0,0.2);">
        <div style=" width:1000px; height:50px; margin:0 auto;line-height:60px">
            <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" height="40">
                <tbody>
                    <tr>
                        <td width="15"></td>
                        <td width="20" class="bd" align="center"><img src="/Content/Livelihood/images/qz_07.png" width="4" height="14"></td>
                        <td width="70" class="ylm">便民服务</td>
                        <td class="bd">&nbsp;</td>
                        <td class="bd" width="22" align="center" style="font-size:14px; color:#999;">&lt;</td>
                        <td width="18" id="tzyq_tab_0" class="ztOn" onmouseover="ShowTag('tzyq','zt',0,2,0);">1</td>
                        <td class="bd" width="10">&nbsp;</td>
                        <td width="18" id="tzyq_tab_1" class="zt" onmouseover="ShowTag('tzyq','zt',1,2,0);">2</td>
                        <td class="bd" width="22" align="center" style="font-size:14px; color:#999;">&gt;</td>
                        <td class="bd" width="15" align="center">&nbsp;</td>
                        <td width="15"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" height="310" id="tzyq_cont_0" style="display:block; ">
            <tbody>
                <tr>
                    <td width="15"></td>
                    <td valign="top" style="padding:20px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30795/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609171701476.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30795/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">婚姻收养</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30859/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609175813838.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30859/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">教育培训</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30894/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609284306424.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30894/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">求职执业</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30828/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609174379335.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30828/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">纳税缴费</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30908/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609176977124.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30908/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">就医保健</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col43950/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609285034550.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col43950/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">社会保险</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30968/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609167697043.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30968/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">福利救助</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30922/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609166217819.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30922/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">房屋租售</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31013/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609173022078.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31013/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">交通旅游</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31056/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609286595655.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31056/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">证件办理</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31086/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609163063675.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31086/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">场馆设施</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31069/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609168941445.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31069/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">公共安全</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30986/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609285678495.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col30986/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">司法公证</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31102/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609170241464.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col31102/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">环境气象</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15"></td>
                </tr>
            </tbody>
        </table>

        <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" height="310" id="tzyq_cont_1" style="display:none; ">
            <tbody>
                <tr>
                    <td width="15"></td>
                    <td valign="top" style="padding:20px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col40272/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508250054222206322.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col40272/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">三农服务</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>

                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col1215118/index.html" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508251608504805546.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlh.zjzwfw.gov.cn/col/col1215118/index.html" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">市民卡服务</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>

                                    </td>
                                    <td style="">
                                        <div>
                                            <a target="_blank" href="http://tazlhhx.zjzwfw.gov.cn/" class="bt_link" style="font-size:14px; padding:30px 32px 0px 32px;"><img src="/Content/Livelihood/images/1508271609168941456.png" border="0"></a><br>
                                            <a target="_blank" href="http://tazlhhx.zjzwfw.gov.cn/" class="bt_link" style="font-size:14px; line-height:35px; padding:0px 37px;">汇溪镇服务网</a>
                                        </div>
                                        <div style="padding-top:30px;"></div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script language="javascript">
   var oBlock1=document.getElementById('block1');
   var oBlock2=document.getElementById('block2');
   var oList1=document.getElementById('list1');
   var oList2=document.getElementById('list2');

   oBlock1.onmouseover=function(){
       oBlock1.className="block1On";
       oBlock2.className="block2";
       oList1.style.display="block";
       oList2.style.display="none";

   }
   oBlock2.onmouseover=function(){
       oBlock1.className="block1";
       oBlock2.className="block2On";
       oList1.style.display="none";
       oList2.style.display="block";
   }
</script>
<script language="javascript">
function ShowTag(Name,Class,num,count,more) {
    for(var i=0;i<count;i++) {
       var tag = document.getElementById(Name+"_tab_"+i);
        var cont = document.getElementById(Name+"_cont_"+i);
        var mores;
        if(more) {
            mores = document.getElementById(Name+"_more_"+i);
            }
        if(i==num) {
            tag.className = Class+"On";
            cont.style.display = "block";
            if(more) {
            mores.style.display = "block";
            }
            } else {
                tag.className = Class;
                cont.style.display = "none";
                if(more) {
            mores.style.display = "none";
          }
            }  }}
</script>		
