
@{
    ViewBag.Title = "安居乐业";
}

<link href="/Content/Livelihood/css/relax.css" rel="stylesheet" type="text/css" media="all" />
<script src="/Content/Livelihood/js/jquery-1.11.1.min.js"></script>
<script src="/Content/Livelihood/js/jquery.poptrox.min.js"></script>
<script>
			$(function() {
				$('#gallery').poptrox({
					usePopupCaption: true
				});

			});
			$(function() {
				$('#gallery1').poptrox({
					usePopupCaption: true
				});

			});
			$(function() {
				$('#gallery2').poptrox({
					usePopupCaption: true
				});

			});
</script>
<style>
    body {
        font-family: sans-serif;
        font-size: 12pt;
        color: #444;
        line-height: 1.5em;
    }

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    #gallery {
        overflow: hidden;
    }

        #gallery a {
            display: block;
            float: left;
            margin-left: 25px;
        }

    #gallery1 a {

        float: left;
        margin-left: 25px;
    }

    #gallery2 a {
        float: left;
        margin-left: 25px;
    }

    #gallery a img {
        display: block;
        border: 0;
    }
  #gallery1 a img {
        display: block;
        border: 0;
    }
   #gallery2 a img {
        display: block;
        border: 0;
    }
</style>

<div class="main">
    <div style="width:1000px;height: 246px; margin:20px 80px 20px 166px;  background:#FFF; box-shadow: 0 1px 5px rgba(0,0,0,0.2);">
        <div class="formbanner">
            <div class="formbannerTitle">
                <div class="titleLeft"> <img src="/Content/Livelihood/images/blue.png"></div>
                <div class="titleCenter"><span>经典相声</span></div>
            </div>
        </div>
        <div id="wrapper">
            <div id="gallery">
                <a href="http://player.youku.com/embed/XMjg1OTM2MDAwOA==" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_xsimg1.png" alt="郭德纲 于谦《文武双全》" title="郭德纲 于谦《文武双全》" /></a>
                <a href="http://player.youku.com/embed/XMjczMDc3NDA1Ng==" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_xsimg2.png" alt="郭德纲 于谦《怪治病》" title="郭德纲 于谦《怪治病》" /></a>
                <a href="http://player.youku.com/embed/XNzg4MjYwNzI4" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_xsimg3.png" alt="郭德纲 于谦《戏曲与方言》" title="郭德纲 于谦《戏曲与方言》" /></a>
            </div>
        </div>
    </div>
</div>

<div class="main_center">
    <div style="width:1000px;margin:5px 80px 20px 166px; height: 246px; background:#FFF;  box-shadow: 0 1px 5px rgba(0,0,0,0.2);">
        <div class="formbanner">
            <div class="formbannerTitle">
                <div class="titleLeft"> <img src="/Content/Livelihood/images/blue.png"></div>
                <div class="titleCenter"><span>养殖技术</span></div>
            </div>
        </div>
        <div id="wrapper">
            <div id="gallery1">
                <a href="http://player.youku.com/embed/XMTk1NzQ5NTY0" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_yzimg1.png" alt="七彩山鸡养殖技术" title="七彩山鸡养殖技术" /></a>
                <a href="http://player.youku.com/embed/XMTk1Nzc4MTAw" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_yzimg2.png" alt="肉猪养殖技术" title="肉猪养殖技术" /></a>
                <a href="http://player.youku.com/embed/XMjEyNzM5NjQ0" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_yzimg3.jpg" alt="肉鹅养殖技术" title="肉鹅养殖技术" /></a>
            </div>
        </div>
    </div>
</div>
<div class="main_foot">
    <div style="width:1000px;margin:5px 80px 20px 166px; height: 246px; background:#FFF;  box-shadow: 0 1px 5px rgba(0,0,0,0.2);">
        <div class="formbanner">
            <div class="formbannerTitle">
                <div class="titleLeft"> <img src="/Content/Livelihood/images/blue.png"></div>
                <div class="titleCenter"><span>广场舞教程</span></div>
            </div>
        </div>
        <div id="wrapper">
            <div id="gallery2">
                <a href="http://player.youku.com/embed/XMjc1NTUxMTQ0OA==" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_gcimg1.png" alt="《茶山情歌》" title="《茶山情歌》" /></a>
                <a href="http://player.youku.com/embed/XMjk1ODc1NjU5Ng==" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_gcimg2.png" alt="《暖暖的幸福》" title="《暖暖的幸福》" /></a>
                <a href="http://player.youku.com/embed/XMjgzNTU0NjA3Ng==" data-poptrox="iframe,600x400"><img src="/Content/Livelihood/images/re_gcimg3.png" alt="《荷塘月色》" title="《荷塘月色》" /></a>
            </div>
        </div>
    </div>
</div>
