
@{
    ViewBag.Title = "参加比赛";
}

<section class="main container sbr clearfix">

    <!-- - - - - - - - - - Breadcrumbs - - - - - - - - - - - - -->

    <div class="breadcrumbs">

        <a title="孔坵首页" href="/Home/Home"><b>首页</b></a>
        <a title="孔坵首页" href="/News/photo_contest"><b>摄影评选</b></a>
        <span><b>图片上传</b></span>
        <div class="border-divider1"></div>
    </div><!--/ .breadcrumbs-->
    <!-- - - - - - - - - end Breadcrumbs - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <section class="holder-1 clearfix">

        <div class="sc_wenzi" style="margin-left: 20px;margin-top:20px;width:900px;">
            <h4><b style="margin-left:-10px;">简介</b></h4>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"孔坵印象"是由孔坵村委打造的创意摄影大赛，旨在为各地摄影爱好者提供创意交流的平台。希望各位摄影爱好者能用镜头去展现孔坵之美，并加以创意的形式向大家展示不一样的孔坵。我们鼓励各位参赛者进行后期修图，掺入你的丰富想象力，组成一张创意图片。</p>
        </div>

        <div class="shangchuan" style="margin-left: 20px;margin-top:50px;">
            <h4><b style="margin-left:-10px;">上传作品</b></h4>
            <div class="border-divider-1"></div>
            <div class="opusS"><span>作品上传：</span> <input type="file" id="file" name="fileUpload"></div>
            <div class="opusName"><span>作品名称：</span><input type="text" name="title" title="作品标题"></div>
            <div class="opusDescribe"><span>作品描述：</span><textarea id="des" name="info" title="作品描述"></textarea></div>
            <!--<div id="image" style="width:390px;height:280px; float:left;border: 2px solid #dad5c9;">
              <img src="/Content/BBS/images/timg.png" style="float: left;">
            </div>	-->
            <input type="submit" value="上传文件" style="float: left;margin-top: 20px;margin-left: 70px;margin-bottom: 10px;">
        </div>

    </section>


    <!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - -->


</section>





