@model GDKQ.Model.News
@{
}
<script src="/Content/main/js/jquery.min.js"></script>
<script type="text/javascript">
    /*	Back to Top
	/* ---------------------------------------------------- */

    (function () {

        var extend = {
            button: '#back-top',
            bt: '.divider-top a',
            text: 'Back to Top',
            min: 200,
            fadeIn: 400,
            fadeOut: 400,
            speed: 800,
            easing: 'easeOutQuint'
        }
			,
			oldiOS = false,
			oldAndroid = false;

        // Detect if older iOS device, which doesn't support fixed position
        if (/(iPhone|iPod|iPad)\sOS\s[0-4][_\d]+/i.test(navigator.userAgent))
            oldiOS = true;

        // Detect if older Android device, which doesn't support fixed position
        if (/Android\s+([0-2][\.\d]+)/i.test(navigator.userAgent))
            oldAndroid = true;

        $('body').append('<a href="#" id="' + extend.button.substring(1) + '" title="' + extend.text + '">' + extend.text + '</a>');

        $(window).scroll(function () {
            var pos = $(window).scrollTop();

            if (oldiOS || oldAndroid) {
                $(settings.button).css({
                    'position': 'absolute',
                    'top': pos + $(window).height()
                });
            }

            if (pos > extend.min)
                $(extend.button).fadeIn(extend.fadeIn);
            else
                $(extend.button).fadeOut(extend.fadeOut);
        });

        $(extend.button).add(extend.bt).click(function (e) {
            $('html, body').animate({ scrollTop: 0 }, extend.speed, extend.easing);
            e.preventDefault();
        });

    })();

    /* end Back to Top */

</script>
<section class="main container sbr clearfix">

    <!-- - - - - - - - - - Breadcrumbs - - - - - - - - - - - - -->

    <div class="breadcrumbs">

        <a href="/Home/Home"><b>首页</b></a>
        <a href="/News/OnePage_sw"><b>@ViewBag.Title</b></a>
        <span><b>农耕文化保护</b></span>
        <div class="border-divider1"></div>
    </div><!--/ .breadcrumbs-->
    <!-- - - - - - - - - end Breadcrumbs - - - - - - - - - - - -->
    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <section id="content" class="ten columns">
        <section class="holder1zc clearfix">
            <div class="kuzhichuangyi">
                @Html.Raw(Model.Title)
                @Html.Raw(Model.Body)
            </div>
        </section>

    </section><!--/ #content-->
    <!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - -->


</section>
