
@{
    ViewBag.Title = "我的众筹与活动";
}

	<!--	<div class="am-g">-->
<!-- ============================================================== -->
<!-- Start right Content here -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="am-g">
            <!-- Row start -->
            <div class="am-u-sm-12">
                <div class="card-box">

                    <form action="" class="am-form" data-am-validator>
                        <fieldset>
                            <legend>众筹与活动</legend>
                            <div style="float:left;">
                                <div class="am-form-group">
                                    <label for="doc-vld-name-2">活动1：</label>
                                    <label for="doc-vld-name-2"><a href="#">我就是吃素的</a></label>
                                </div>


                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动时间：</label>
                                    <label for="doc-vld-url-2">2017.4</label>

                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动地点：</label>
                                    <label for="doc-vld-url-2">孔坵厨房</label>

                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">参加金额：</label>
                                    <label for="doc-vld-url-2">50元</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">提供食材</label><br>
                                    <label for="doc-vld-url-2">提示：具体请点击活动链接</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>
                                <button class="am-btn am-btn-secondary" type="submit">参加活动</button>
                            </div>

                            <div style="float:left; margin-left:50px;">
                                <div class="am-form-group">
                                    <label for="doc-vld-name-2">活动2：</label>
                                    <label for="doc-vld-name-2"><a href="#">枯枝创意DIY</a></label>
                                </div>


                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动时间：</label>
                                    <label for="doc-vld-url-2">2017.6-2017.11 10:00-17:00</label>

                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动地点：</label>
                                    <label for="doc-vld-url-2">孔坵厨房大厅</label>

                                </div>
                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">参加金额：</label>
                                    <label for="doc-vld-url-2">50元</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">提供工具</label><br>
                                    <label for="doc-vld-url-2">提示：具体请点击活动链接</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>
                                <button class="am-btn am-btn-secondary" type="submit">参加活动</button>
                            </div>
                            <div style="float:left;margin-left:50px;">
                                <div class="am-form-group">
                                    <label for="doc-vld-name-2">活动3：</label>
                                    <label for="doc-vld-name-2"><a href="#">创意艺术玩转废旧轮胎</a></label>
                                </div>


                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动时间：</label>
                                    <label for="doc-vld-url-2">2017.5.10-2017.5.20</label>

                                </div>
                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">活动地点：</label>
                                    <label for="doc-vld-url-2">孔坵空地</label>

                                </div>
                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">参加金额：</label>
                                    <label for="doc-vld-url-2">50元</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>

                                <div class="am-form-group">
                                    <label for="doc-vld-url-2">提供材料工具</label><br>
                                    <label for="doc-vld-url-2">提示：具体请点击活动链接</label>
                                    <!-- <input type="url" id="doc-vld-url-2" placeholder="请输入你的爱好" required/>-->
                                </div>
                                <button class="am-btn am-btn-secondary" type="submit">参加活动</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-box">
                    <form action="" class="am-form" data-am-validator>
                        <fieldset>
                            <legend>我报名的活动</legend>

                            <div class="am-form-group">
                                <label for="doc-vld-name-2">活动1：</label>
                                <label for="doc-vld-name-2"><a href="#">我就是吃素的</a></label>
                            </div>



                            <button class="am-btn am-btn-secondary" type="submit">删除</button>

                        </fieldset>
                    </form>
                </div>

            </div>
            <!-- Row end -->
        </div>




    </div>
</div>
<!-- end right Content here -->
<!--</div>-->

