@charset "utf-8";
/* CSS Document */
table{
	border-collapse:collapse;
}
td{
	empty-cells:show;
}
tr,td{
	color:#343434;
	font-family:"宋体",Arial,verdana;
	font-size:12px;
	line-height:22px;
}
#title{
	border-bottom:2px solid rgb(51,51,51);
	font-size:22px;
	font-weight:bold;
	height:auto;
	line-height:180%;
	margin-top:50px;
	min-height:55px;
	overflow: hidden;
	text-align:center;
}