
@{
    ViewBag.Title = "常见问题";
}

<div class="span8 page-content">

    <article class=" page type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">常见问题</a>

            <a href="/BBS/News/Add">
                <div class="publish-header">
                </div>
            </a>


        </h1>
        <hr>
        <p>这里是一些常见问题，具体请看下面，还有其他疑问可以扫描右边的二维码联系我们。</p>
    </article>

    <div class="faqs clearfix">

        <article class="faq-item active">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">具体路线</a>
            </h3>
            
            <div class="faq-answer">
                <p>临海新客站乘坐108A路公交车到仙人桥下车(约45分钟)。在仙人桥乘坐盘山公交到孔坵村，或者联系村委。具体公交时刻表请见微信公众号。<!--<a title="" href=""></a>--> </p>
                <p>自驾车的话也可以直达，到达“上旺村”村口分路的地方时，建议继续往前直行，约1公里左右到达“良坑村”时，再往右折返，就可以到达孔坵了。如果在良坑村怒折返去孔坵的话，往左前行可以上羊岩山了！</p>
                <!--<ul>
                        <li><a title="WordPress" href="http://codex.wordpress.org/WordPress">WordPress</a></li>
                        <li><a title="WordPress Semantics" href="http://codex.wordpress.org/WordPress_Semantics">WordPress Semantics</a></li>
                        <li><a title="About WordPress" href="http://codex.wordpress.org/About_WordPress">About WordPress</a></li>
                </ul>-->
            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">住宿问题</a>
            </h3>
            <div class="faq-answer">
                <p>没有宾馆，但如果遇到一些情况导致无法下山等，可求助当地村委。</p>
                <p>没有民宿</p>
                <!--  <p>&nbsp;<a title="" href=""></a></p>-->
            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">伙食问题</a>
            </h3>
            <div class="faq-answer" style="display: none;">
                <p>没有餐馆！<!--<a title="" href=""></a>--></p>
                <p>伙食可以自己带材料，有地方提供可自煮，也有小卖部。</p>
            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">好看的景观</a>
            </h3>
            <div class="faq-answer">
                <p>孔坵有十景，指的是指龙湫飞瀑、龟蛇守江、兜水游鱼、石人垂钓、南溪浮印、五峰扑地、东湖醴泉、凤凰盘古、石井眠鹿、毛桥残雪。</p>
                <p>当然，以上这些景色都是比较著名的，其实孔坵的每一个地方都是一张如画的风景，等待着大家一起去探索。</p>

            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">代表性的传统建筑</a>
            </h3>
            <div class="faq-answer">
                <p>宝新义塾旧址、近仁堂、半耕堂、一心斋、中和堂、三余堂、耕礼堂、章氏祠堂等，内村边还有东泰桥、中和桥、西安桥三座古石拱桥</p>
                <p>村庄里的房屋都保留着它们原来的样子。其中章氏祠堂是其中保存较为良好的，且已经过了多次修葺。可联系负责人进行参观。</p>
            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">文化历史</a>
            </h3>
            <div class="faq-answer">
                <p>在这个古村落祠堂里，有非常之多的文化大革命时期的革命标语，并且保存完整。</p>
                <p>古村落的“章氏祠堂”，展示了这个古村的发展历程</p>
                <p>孔坵乡村记忆馆与展品</p>
                <p>古村文化历史悠久，并有很多古树、奇石，比如奇石四世同堂，孙子、父亲、爷爷、太公</p>
            </div>
        </article>

        <article class="faq-item">
            <span class="faq-icon"></span>
            <h3 class="faq-question">
                <a href="#">相关活动</a>
            </h3>
            <div class="faq-answer" style="display: none;">
                首页中有一些已经被提出来的，将要举行的活动，大家可以积极报名参与哦！<!--<a title="" href=""></a>--><!--<p></p>-->
                <p>如果大家关于活动，有一些比较好的建议，则可以在论坛上发表自己的意见，村委会会根据可行性进行商讨规划。当然也可以直接通过邮箱、微信公众平台等直接与我们进行联系。</p>
            </div>
        </article>
    </div>

</div>

